<html>
     <head>
        <link rel="stylesheet" href="css/cadastro.css">
     </head>
     <body> 
          <div id="topo"><img src="imagens/logo.png" width="6%" heigth="6%" id="logo">
          </div>
          <p ID="TITULO">Crie sua conta</p>
          <form action="/" method="post">
          	<input class="entradas" id="nome" type="text" placeholder="Nome">
          	<input class="entradas" id="sobNome" type="text" placeholder="Sobrenome">
          	<input class="entradas" id="telefone" type="tel" placeholder="Telefone">
          	<input class="entradas" id="email" type="text" placeholder="Email">
          	<input class="entradas" id="senha" type="text" placeholder="Senha">
               <input class="entradas" id="confSenha" type="text" placeholder="Confirmar Senha">
               <input class="entradas" id="feminino" type="radio" id="feminino" value="faminino" name="opcao"><p id="F">Feminino</p>
               <input class="entradas" id="masculino" type="radio" id="masculino" value="masculino" name="opcao"><p id="M">Masculino</p>
               <input type="submit" name="cadastrar" value="Cadastrar" id="cadastrar" class="botoes">
               <input type="button" name="cancelar" value="Cancelar" id="cancelar" class="botoes" formaction="/" formmethod="post">
          </form>
     </body>
</html>