{% load static %}
<html>
     <head>
          <meta charset="utf-8">
          <title>{% block title %}Register User{% endblock %}</title>
          <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
     </head>
     <body>
          <div id="topo"><img src="{% static 'imagens/logo.png' %}" width="6%" heigth="6%" id="logo">
          </div>
          <p ID="TITULO">Crie sua conta</p>
          <form action="{% url 'users:registerUser' %}" method="post">{% csrf_token %}
               <label for="name">Nome:</label>
          	<input class="entradas" id="nome" type="text" name="name">

               <label for="email">Email:</label>
          	<input class="entradas" id="email" type="email" name="email">

               <label for="password">Password:</label>
          	<input class="entradas" id="senha" type="password" name="password">

               <label for="username">Username:</label>
               <input class="entradas" id="confSenha" type="text" name="username">

               <label for="gender">Sexo:</label>
               <select name="gender">
                 <option value="Feminino">Feminino</option>
                 <option value="Masculino">Masculino</option>
               </select>

               <input type="submit" name="cadastrar" value="Cadastrar" id="cadastrar" class="botoes">
               <a href="{% url 'users:login' %}">
                    <input type="button" name="cancelar" value="Cancelar" id="cancelar">
               </a>
          </form>
     </body>
</html>
