{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Login{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/reseting.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <section class="sec-login">
    <div class="overflow"></div>
    {% block content %}
    <div class="box-formulario">
      <div class="logo">
        <img src="{% static 'imagens/logo.png' %}">
      </div>
      <form class="formulario" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="id_username" placeholder="Username">
        <input type="password" name="password" id="id_password" placeholder="Senha">
        <input type="submit" value="Entrar">
      </form>
      <h5>Não é cadastrado? <a href="#">Registre-se</a></h5>
      {% endblock %}
    </div>
  </section>
</body>
</html>