{% include "header.html" %}

{% if user.is_authenticated %}
<div class="tabs is-centered">
	<ul>
		<li><a href="{% url 'books:myBooks' %}">Estante</a></li>
		<li class="is-active"><a href="{% url 'books:readed_books' %}">Lidos</a></li>
		<li><a href="{% url 'books:read_books' %}">Ler</a></li>
		<li><a href="{% url 'books:reading_books' %}">Lendo</a></li>
	</ul>
</div>
{% endif %}

<section class="livros">
	{% for book in books %}
        <div class=" box-livro">
		  <a class="image" href="{% url 'books:book_info' pk=book.pk %}" title="{{book.livro.titulo}}">
		    <img src="{{book.livro.capa.url}}"" >  
		    <p class="has-text-weight-semibold">{{book.livro.titulo}}</p>
		  </a>
		</div>
	{% endfor %}
</section>

</div>
</div>
</section>
</section>
{% include "footer.html" %}
