{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
		<link rel="stylesheet" href="{% static 'css/bulma-carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/livro.css' %}">
    	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>	
	</head>
	<body>
			<header class="navbar is-transparent">
				<div class="container">
					<div class="navbar-brand">
				        <a class="navbar-item" href="{% url 'home' %}">
				            <img src="{% static 'imagens/logo.png' %}" alt="Skoob">
				        </a>
					</div>
					<div id="navbar" class="navbar-menu">
				        <div class="navbar-end has-text-centered-mobile">
				            <div class="navbar-item">
				              <form method="post" class="search">
				              	<div class="field has-addons">
				              	  <div class="control">
				              	    <input class="input is-small" type="text" placeholder="Search.." name="search">
				              	  </div>
				              	  <div class="control">
				              	    <button class="button is-small" type="submit"><i class="fa fa-search"></i></button>
				              	  </div>
				              	</div>
				              </form>
				            </div>
				            <a class="navbar-item active-link" href="{% url 'home' %}">
				              Home
				            </a>
		                    {% if user.is_authenticated%}
				            <div class="navbar-item has-dropdown is-hoverable">
				                <a class="navbar-link active-link" href="{% url 'home' %}">
				                  Explore
				                </a>
				                <div class="navbar-dropdown is-boxed">
				                  <a class="navbar-item" href="{% url 'books:myBooks' %}">
				                    Estante
				                  </a>
				                  <a class="navbar-item" href="{% url 'books:reading_books' %}">
				                    Lendo
				                  </a>
				                  <a class="navbar-item" href="{% url 'books:readed_books' %}">
				                    Lidos
				                  </a>
		                          <a class="navbar-item" href="{% url 'books:read_books' %}">
		                            Ler
		                          </a>
				                </div>
		                    {% endif %}
				            </div>
				            <div class="navbar-item">
				            	{% block conten %}
				            	{% if user.is_authenticated %}
				            	  <a class="active-link" href="{% url 'logout' %}">Sair</a>
				            	{% else %}
				            	  <a class="button is-info is-outlined" href="{% url 'login' %}">Entrar</a>
				            	{% endif %}
				            	{% endblock %}
				            </div>
				        </div>
					</div>
				</div>
			</header>
		<section class="hero">
		{% block content %}
			<div class="hero-body">
			<div class="container conteudo">
				<div class="columns">
					<div class="column is-2">
					    <div class="img">
							<img src="{{book.capa.url}}">
					    </div>
					</div>
			    	<div class="column">
			    		<div class="title is-3">{{books.titulo}}</div>
	    				<form action="" method="">
	    				    <div class="dados">
	    				    <label for="Ler"></label>
	    				      <input type="button" class="button is-link is-hovered" name="Ler" value="Ler" onclick="msg()">
	    				    <label for="Lendo"></label>
	    				      <input type="button" class="button is-primary is-hovered" name="Lendo" value="Lendo" onclick="msg()">
	    				    <label for="Lido"></label>
	    				      <input type="button" class="button is-success is-hovered" name="Lido" value="Lido" onclick="msg()">
	    				</form>
	    		        <table class="dadosLivro">
	    		            <tr>
	    		                <td>Autor:</td>
	    		                <td class="dados2">{{books.autor}}</td>
	    		            </tr>
	    		            <tr>
	    		                <td>Editora:</td>
	    		                <td class="dados2">{{books.editora}}</td>
	    		            </tr>
	    		            <tr>
	    		                <td>Gênero:</td>
	    		                <td class="dados2">{{books.genero}}</td>
	    		            </tr>
	    		            <tr>
	    		                <td>Nº de páginas:</td>
	    		                <td class="dados2">{{books.paginas}}</td>
	    		            </tr>
	    		        </table>
	    		        <div>
	    		        	<h5 class="title is-5">Sinopse</h5>
	    		        	<p>{{books.sinopse}}</p>
	    		        </div>
			    	</div>
			    </div>
			    </div>
		    </div>
		    {% endblock %}
		</div>
	</section>
	{% include "footer.html" %}
</body>
</html>