{% load static %}
{% include "header.html" %}
<div class="tabs is-centered">
  <ul>
    <li><a href="home.html">Estante</a></li>
    <li class="is-active"><a href="books-lidos.html">Lidos</a></li>
    <li><a href="books-ler.html">Ler</a></li>
    <li><a href="books-lendo.html">Lendo</a></li>
  </ul>
</div>

<section class="livros">
	
	{% for book in books %}
		<div class="image  box-livro left">
		  <a href="#">
		  	{{ book.foto }}
		  </a>
		</div>
	{% endfor %}
</section>
{% include "footer.html" %}