{% load static %}

	<footer class="footer">
		<div class="content has-vcentered-content">
		<div class="columns is-vcentered has-vcentered-content">
			<div class="column auto"></div>
			<div class="column is-narrow">
				<figure class="image">
					<img src="{% static 'imagens/logo.png' %}">
				</figure>			
			</div>
			<div class="column is-4">
				<p class="is-size-7">Projeto desenvolvido pela turma do 4º perido de ADS durante a disciplina de Gerencia de Projetos do IFPB - Campus Cajazeiras</p>
			</div>
			<div class="column auto"></div>
		</div>
		</div>
	</footer>

<script type="text/javascript" src="{% static 'js/bulma-carousel.min.js' %}"></script>
		<script>
			var carousels = bulmaCarousel.attach();

			document.addEventListener('DOMContentLoaded', () => {

			  // Get all "navbar-burger" elements
			  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

			  // Check if there are any navbar burgers
			  if ($navbarBurgers.length > 0) {

			    // Add a click event on each of them
			    $navbarBurgers.forEach( el => {
			      el.addEventListener('click', () => {

			        // Get the target from the "data-target" attribute
			        const target = el.dataset.target;
			        const $target = document.getElementById(target);

			        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
			        el.classList.toggle('is-active');
			        $target.classList.toggle('is-active');

			      });
			    });
			  }

			});
		</script>
