{% load thumbnail %}

{% load staticfiles %}

    {% include "header.html" %}
    <div class="tabs is-centered">
      <ul>
        <li class="is-active"><a href="home.html">Estante</a></li>
        <li><a href="books-lidos.html">Lidos</a></li>
        <li><a href="books-ler.html">Ler</a></li>
        <li><a href="books-lendo.html">Lendo</a></li>
      </ul>
    </div>

	<section class="livros">

		{% for photo in photos %}
			<div class="image  box-livro left">
			  <img src="{% thumbnail photo.capa 270x220 %}" alt="image">
			</div>
            <p>{{photo.titulo}}</p>
		{% endfor %}
	</section>
{% include "footer.html" %}
